 ../../.CFUserTextEncoding
 ../../.DS_Store
        ../../.config/
        ../../.dlv/
        ../../.docker/
        ../../.gitconfig
        ../../.lesshst
        ../../.npm/
        ../../.oh-my-zsh/
        ../../.redis-insight/
        ../../.ssh/
        ../../.swiftpm/
        ../../.viminfo
        ../../.vscode/
        "../../.zcompdump-thanh\342\200\231s MacBook Pro-5.8.1"
        "../../.zcompdump-thanh\342\200\231s MacBook Pro-5.9"
        ../../.zsh/
        ../../.zsh_history
        ../../.zsh_sessions/
        ../../.zshrc
        ../../Applications/
        ../../BE-okta-login/
        ../../Desktop/.DS_Store
        ../../Desktop/.localized
        ../../Desktop/Firefox 51.0_install.log
        ../../Desktop/Screen Recording 2024-10-08 at 09.25.20.mov
        ../../Desktop/Screenshot 2024-06-19 at 20.40.44.png
        ../../Desktop/Screenshot 2024-06-19 at 20.45.02.png
        ../../Desktop/Soccer | Home.html
        ../../Desktop/capture/
        ../../Desktop/football.html
        "../../Desktop/~$T\341\273\261 doanh.xlsx"
        "../../Desktop/~$n\304\203m 2022.xlsx"
        ../../Documents/
        ../.DS_Store
        ../.idea/
        ../.localized
        ../EVKeyMac/
        ../Visual Studio Code.app/
        ../WEPES/
        ../Win11_23H2_English_x64v2.iso
        ../bypass-paywalls-chrome-master 5/
        ../keenitsolutions.com/
        ../~$02-Bieu-so-lieu-T5.2024-1.xlsx
        ../~$VietstockFinance_Du-lieu-doanh-nghiep_20231129-190118.xlsx
        ../../GolandProjects/.DS_Store
        ../../GolandProjects/awesomeProject1/
        ../../GolandProjects/standard-api-okta-login/
        ../../JSON.GET
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../NodeJS/
        ../../Parallels/
        ../../Pictures/
        ../../Public/
        ../../PycharmProjects/
        ../../api-okta-login/
        ../../bongda.com/
        ../../gen/
        ../../go.mod
        ../../go/
        ../../java_error_in_goland_2360.log
        ../../jbr_err_pid2360.log
        .gitignore
        .idea/