 ../../../../.CFUserTextEncoding
        ../../../../.DS_Store
        ../../../../.ET_TVC/
        ../../../../.ET_TVD/
        ../../../../.config/
        ../../../../.dlv/
        ../../../../.docker/
        ../../../../.gitconfig
        ../../../../.lesshst
        ../../../../.mailcap
        ../../../../.mime.types
        ../../../../.mongodb/
        ../../../../.oh-my-zsh/
        ../../../../.pgadmin/
        ../../../../.psql_history
        ../../../../.python_history
        ../../../../.ssh/
        ../../../../.viminfo
        ../../../../.zcompdump-CauUt-5.8
        ../../../../.zcompdump-CauUt-5.8.1
        ../../../../.zsh_history
        ../../../../.zsh_sessions/
        ../../../../.zshrc
        ../../../../Applications/
        ../../../../Desktop/
        ../../../.DS_Store
        ../../../.localized
        ../../../CreatDB/
        ../../../GolangCode/
        ../../../Login/
        ../../../Practicel/
        ../../.DS_Store
        ../../example/
        ../../fastApiProject/
        ../../lesson_1/
        ../../pythonProject/
        ../../pythonProject1/
        ../../pythonProject2/
        ../.DS_Store
        ../.idea/
        ../benefits/
        ../categories/.gitignore
        ../companies/
        ../jobs/
        .gitignore
        ../main.py
        ../migration/
        ../test.py
        ../../standard/
        ../../../PythonCode/
        ../../../StructsInsteadofClasses/
        ../../../VMO/
        ../../../Zalo Received Files/
        ../../../blog/
        ../../../docker-test/
        ../../../go-practice/
        ../../../go-standard/
        ../../../interface/
        ../../../laptrinh/
        ../../../learnpackage/
        ../../../practice/
        ../../../structs/
        ../../../unit test/
        ../../../unit_test/
        ../../../../Downloads/
        ../../../../GolandProjects/
        ../../../../Library/
        ../../../../Movies/
        ../../../../Music/
        ../../../../Pictures/
        ../../../../Public/
        ../../../../PycharmProjects/
        ../../../../go/
