                                  ../../.CFUserTextEncoding
                                         ../../.DS_Store
                                         ../../.config/
                                         ../../.dlv/
                                         ../../.docker/
                                         ../../.gitconfig
                                         ../../.lesshst
                                         ../../.npm/
                                         ../../.oh-my-zsh/
                                         ../../.redis-insight/
                                         ../../.ssh/
                                         ../../.swiftpm/
                                         ../../.viminfo
                                         ../../.vscode/
                                         "../../.zcompdump-thanh\342\200\231s MacBook Pro-5.8.1"
                                         "../../.zcompdump-thanh\342\200\231s MacBook Pro-5.9"
                                         ../../.zsh/
                                         ../../.zsh_history
                                         ../../.zsh_sessions/
                                         ../../.zshrc
                                         ../../Applications/
                                         ../../BE-okta-login/
                                         ../.DS_Store
                                         ../.localized
                                         ../Archive/
                                         ../Firefox 51.0_install.log
                                         ../Screen Recording 2024-10-08 at 09.25.20.mov
                                         ../Screenshot 2024-06-19 at 20.40.44.png
                                         ../Screenshot 2024-06-19 at 20.45.02.png
                                         ../Soccer | Home.html
                                         ../capture/
                                         ../football.html
                                         "../~$T\341\273\261 doanh.xlsx"
                                         "../~$n\304\203m 2022.xlsx"
                                         ../../Documents/
                                         ../../Downloads/
                                         ../../GolandProjects/.DS_Store
                                         ../../GolandProjects/awesomeProject1/
                                         ../../GolandProjects/standard-api-okta-login/
                                         ../../GolandProjects/test1/
                                         ../../JSON.GET
                                         ../../Library/
                                         ../../Movies/
                                         ../../Music/
                                         ../../NodeJS/
                                         ../../Parallels/
                                         ../../Pictures/
                                         ../../Public/
                                         ../../PycharmProjects/
                                         ../../api-okta-login/
                                         ../../bongda.com/
                                         ../../gen/
                                         ../../go.mod
                                         ../../go/
                                         ../../java_error_in_goland_2360.log
                                         ../../jbr_err_pid2360.log
